<!--<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('../../../../assets/img/survey-1.jpg')">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-lg-12 display-flex align-middle text-center">
              <div class="header-content w-100">
                <h1>{{'home.create_online_survey_for_people_in_qatar' | translate}}<br/>
                  {{'home.engage_with_your_audiences' | translate}}<br/>
                  {{'home.send_feedback_and_win' | translate}}<br/>
                  {{'home.data_is_saved_in_qatar' | translate}}<br/></h1>
                <a [routerLink]="" class="btn btn-primary btn-contact mt-4">{{'home.banner_button' | translate}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>-->
<section class="templateSection__1">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center" style="margin-top: 10%">
					<div class="w-30">
						<div class="input-group mb-3">
							<input type="text" class="form-control button-dbn" placeholder="Please Enter Code" aria-label="Recipient's username" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary btn-join" type="button">JOIN</button>
							</div>
						</div>
						<h3>Get Customer Answer</h3>
					</div>
				</div>


				<div class="col-7 hidden__sm">
					<figure class="paroller">
						<img src="assets/img/image01.png" alt="">
					</figure>
				</div>

				<div class="col-5">
					<figcaption>
						<h2 >{{'home.title_label' | translate }}</h2>
						<h3 >{{'home.title_label_blk' | translate }}</h3>
						<p>{{'home.create_online_survey_for_people_in_qatar' | translate}}
					   </p>
						<a href="javascript:void(0);" (click)="redirectPage()" class="linkRow">{{'home.banner_button' | translate }}</a>
					</figcaption>
				</div>
			</div>
		</div>
	</section>
	<section class="templateSection__2">
		<div class="scrollimage paroller">
			<img src="assets/img/ellipse01.png">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-6">
					<figcaption>
						<h2  >{{'home.home_blk2_title' | translate }}</h2>
						<p>{{'home.home_blk2_content' | translate }}</p>
					</figcaption>
				</div>
				<div class="col-6">
					<figure class="paroller hidden__sm">
						<img src="assets/img/image01.jpg" alt="">
					</figure>
				</div>
			</div>
		</div>
	</section>
	<section class="templateSection__3">
		<div   class="container">
			<h2>{{'home.home_blk3_title' | translate }}</h2>
			<div   class="row"  dir="{{language === 'ar'?'rtl':'ltr'}}" >
				<div class="col-xs-12 col-sm-6 col-lg-3 listCol">
					<a class="listItem" href="#">
						<img src="assets/img/003-data.png" alt="">
						<h3>{{'home.home_blk3_subtitle1' | translate }}</h3>
						<p>{{'home.home_blk3_subcontent1' | translate }}</p>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-3 listCol">
					<a class="listItem" href="#">
						<img src="assets/img/004-server.png" alt="">
						<h3>{{'home.home_blk3_subtitle2' | translate }}</h3>
						<p>{{'home.home_blk3_subcontent2' | translate }}</p>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-3 listCol">
					<a class="listItem" href="#">
						<img src="assets/img/002-server.png" alt="">
						<h3>{{'home.home_blk3_subtitle3' | translate }}</h3>
						<p>{{'home.home_blk3_subcontent3' | translate }}</p>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-3 listCol">
					<a class="listItem" href="#">
						<img src="assets/img/001-server.png" alt="">
						<h3>{{'home.home_blk3_subtitle4' | translate }}</h3>
						<p>{{'home.home_blk3_subcontent4' | translate }}</p>
					</a>
				</div>
			</div>
	
		</div>
	
	</section>
	<section class="templateSection__4">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<figcaption>
						<h2>{{'home.about_us_title_label' | translate }}</h2>
						<p>{{'home.about_us_content_label' | translate }}</p>
						<a href="#">{{'home.readmore_label' | translate }}</a>
					</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 hidden__sm">
					<figure class="paroller">
						<img src="assets/img/image03.jpg" alt="">
					</figure>
				</div>
			</div>
		</div>
		<div class="template__bg2 paroller">
			<img src="assets/img/template-bg03.png" alt="">
		</div>
	</section>
	<section class="templateSection__5">
		<div class="container">
			<div class="row">
				<div class="col-12 contentWrp">
					<h2>{{'home.why_choose_raye_title' | translate }}</h2>
					<p>{{'home.why_choose_raye_content' | translate }}</p>
				</div>
	
				<div class="col-sm-10 col-md-6 linkCaption">
					<a class="icon__Col" href="#">
						<img src="assets/img/icon01.png">
					</a>
					<h3>{{'home.easy_to_use_label' | translate }}</h3>
					<p>{{'home.easy_to_use_content' | translate }}</p>
				</div>
				<div class="col-sm-2 col-md-6 linkIcon">
					<div class="linkCol">
						<a class="icon__Col" href="#">
							<img src="assets/img/icon01.png">
						</a>
					</div>
				</div>
				<div class="col-sm-10 col-md-6 linkCaption">
					<a class="icon__Col" href="#">
						<img src="assets/img/icon02.png">
					</a>
					<h3>{{'home.multi_language_label' | translate }}</h3>
					<p>{{'home.multi_language_content' | translate }}</p>
				</div>
				<div class="col-sm-2 col-md-6 linkIcon">
					<div class="linkCol">
						<a href="#">
							<img src="assets/img/icon02.png">
						</a>
					</div>
				</div>
				<div class="col-sm-10 col-md-6 linkCaption">
					<a class="icon__Col" href="#">
							<img src="assets/img/icon03.png">
						</a>
					<h3>{{'home.safty_label' | translate }}</h3>
					<p>{{'home.safty_label_content' | translate }}</p>
				</div>
				<div class="col-sm-2 col-md-6 linkIcon">
					<div class="linkCol">
						<a href="#">
							<img src="assets/img/icon03.png">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="scrollimage paroller">
			<img src="assets/img/ellipse02.png">
		</div>
	</section>
	