

<section class="login___Section">
	<div class="container">
		<div class="row">
			<div class="col-7 hidden__sm">
				<figure class="paroller">
					<img src="assets/img/banerleft.jpg" alt="">
				</figure>
			</div>
			<div class="col-5">
				<figcaption>
					<h2>{{'login.forgot_password_label' | translate}}<br>{{'forgot_password.dont_worry' | translate}}</h2>
					<p>{{'forgot_password.description' | translate}}</p>
					<form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
						<div class="form__Group">
							<label>{{'forgot_password.email_label' | translate}}</label>
							<input id="email" type="email"
        name="email"
        formControlName="email"
        placeholder="{{'forgot_password.email_label' | translate}}"
        [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
        [class.is-valid]="email.valid && (email.dirty || email.touched)"
        >
        <p class="">
      <span *ngIf="email.invalid && (email.dirty || email.touched) && email.hasError('required')"
        class="error-msg">
        {{'error_message.required_field' | translate}}
      </span>
    </p>
            </div>
						<div class="form__Submit">
							<input type="submit" value="{{'forgot_password.submit_label' | translate}}" class="linkRow" required="">
						</div>
					</form>
				</figcaption>
			</div>
		</div>
	</div>
</section>