<div class="row">
  <div class="col-md-12">
      <div class="process">
          <div class="process-row top-row dashboardbtn">
            <div class="process-step process-step-top" routerLink="/dashboard" routerLinkActive="active">
              <button type="button" class="btn btn-outline-primary btn-circle red-active"> <i class="fas fa-poll-h"
                  aria-hidden="true"></i></button>
              <p class="mb-0"> {{'navbar.labels.my_survey_button' | translate}}</p>
            </div>
            <div class="process-step process-step-top" routerLink="/survey/start-survey" routerLinkActive="active">
              <button type="button" class="btn btn-outline-primary btn-circle"><i
                  class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <p class="mb-0">{{'dash_board_page.create_survey' | translate}}</p>
            </div>
            <div class="process-step process-step-top" routerLink="/questions" routerLinkActive="active">
              <button type="button" class="btn btn-outline-primary btn-circle"><i
                  class="far fa-question-circle" aria-hidden="true"></i></button>
              <p class="mb-0">{{'dash_board_page.qustaion' | translate}}</p>
            </div>
            <div class="process-step process-step-top" routerLink="/survey-feedback" routerLinkActive="active">
              <button type="button" class="btn btn-outline-primary btn-circle"><i class="fa fa-eye"
                  aria-hidden="true"></i></button>
              <p class="mb-0">{{'design_survey.preview_survey' | translate}}</p>
            </div>
            <div class="process-step process-step-top" routerLink="/survey/share" routerLinkActive="active">
              <button type="button" class="btn btn-outline-primary btn-circle"><i class="fa fa-share-alt"
                  aria-hidden="true"></i></button>
              <p class="mb-0">{{'dash_board_page.share_survey' | translate}}</p>
            </div>
            <div class="process-step process-step-top">
              <button type="button" class="btn btn-outline-primary btn-circle"><i class="fa fa-bar-chart"
                  aria-hidden="true"></i></button>
              <p class="mb-0">{{'dash_board_page.analyze_responses' | translate}}</p>
            </div>
      
          </div>
        </div>
  </div>
</div>