.mt-50{
    margin-top: 50px;
}
.mat-form-field {
    width:100%
}

.red-active{
    color: #ad0203;
}

.form-check-label{
    margin-top: 5px !important;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
}
.margin-right-10 {
    margin-right: 15px;
}
.description-w{
    width: 100%;
}

.date-mb{
    margin-bottom: 0px;
}
