<div class="tab-content w-100" id="nav-tabContent">
  <div class="col-md-12 mt-3">
    <div class="row justify-content-end"> </div>
  </div>
  <div class="pt-3"></div>
  <div class="col">
    <div class="table-responsive">
      <table class="table table-bordered table-striped surveyTbl" id="surveyTbl">
        <thead class="thead">
          <tr>
            <th>Title</th>
            <th>Modified</th>
            <th>Responses</th>
            <th>Design</th>
            <th>Collect</th>
            <th>Analyze</th>
            <th>Share</th>
            <th>More</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="attend-survey.html">test 1</a>
              <p class="mb-0">Created 01/13/2019</p></td>
            <td>01/13/2019</td>
            <td>0</td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Design your survey"><i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> </a></td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Colect Responses"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a></td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Analyze survey"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Share your survey"><i class="fa fa-share-alt" aria-hidden="true"></i></a></td>
            <td class="position-relative"><div class="more-options"> <a class="dropdown-button" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="More Options" > <i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                <ul class="dropdown-list" >
                  <li data-value="Copy"><a href="javascript:void(0);"><i class="fa fa-files-o" aria-hidden="true"></i></a></li>
                  <li data-value="Transfer"><a href="javascript:void(0);"><i class="fa fa-exchange" aria-hidden="true"></i></a></li>
                  <li data-value="add"><a href="javascript:void(0);"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                  <li data-value="Clear"><a href="javascript:void(0);"><i class="fa fa-eraser" aria-hidden="true"></i></a></li>
                  <li data-value="Delete"><a href="javascript:void(0);"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                </ul>
              </div></td>
          </tr>
          <tr>
            <td><a href="attend-survey.html">test 2</a>
              <p class="mb-0">Created 01/13/2019</p></td>
            <td>01/13/2019</td>
            <td>0</td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Design your survey"><i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> </a></td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Colect Responses"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a></td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Analyze survey"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Share your survey"><i class="fa fa-share-alt" aria-hidden="true"></i></a></td>
            <td class="position-relative"><div class="more-options"> <a class="dropdown-button" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="More Options" > <i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                <ul class="dropdown-list" >
                  <li data-value="Copy"><a href="javascript:void(0);"><i class="fa fa-files-o" aria-hidden="true"></i></a></li>
                  <li data-value="Transfer"><a href="javascript:void(0);"><i class="fa fa-exchange" aria-hidden="true"></i></a></li>
                  <li data-value="add"><a href="javascript:void(0);"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                  <li data-value="Clear"><a href="javascript:void(0);"><i class="fa fa-eraser" aria-hidden="true"></i></a></li>
                  <li data-value="Delete"><a href="javascript:void(0);"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                </ul>
              </div></td>
          </tr>
          <tr>
            <td><a href="attend-survey.html">test 2</a>
              <p class="mb-0">Created 01/13/2019</p></td>
            <td>01/13/2019</td>
            <td>0</td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Design your survey"><i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i> </a></td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Colect Responses"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a></td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Analyze survey"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></td>
            <td><a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Share your survey"><i class="fa fa-share-alt" aria-hidden="true"></i></a></td>
            <td class="position-relative"><div class="more-options"> <a class="dropdown-button" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="More Options" > <i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                <ul class="dropdown-list" >
                  <li data-value="Copy"><a href="javascript:void(0);"><i class="fa fa-files-o" aria-hidden="true"></i></a></li>
                  <li data-value="Transfer"><a href="javascript:void(0);"><i class="fa fa-exchange" aria-hidden="true"></i></a></li>
                  <li data-value="add"><a href="javascript:void(0);"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
                  <li data-value="Clear"><a href="javascript:void(0);"><i class="fa fa-eraser" aria-hidden="true"></i></a></li>
                  <li data-value="Delete"><a href="javascript:void(0);"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                </ul>
              </div></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="col-xl-6 col-sm-12 float-left p-0 small">Showing 3 of 3 recent survey</div>
    </div>
  </div>
</div>