<div class="col-md-12">
  <form [formGroup]="changePasswordForm">
    <div class="row">
      <h3 class="page-title w-100">{{'my_account.profile.changepassword.change_password_label' | translate }}</h3>
      <div class="col-md-12 mt-3">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group custom-selectHolder normalSelect">
              <label for="fullname" class="labelmb7">{{'my_account.profile.changepassword.current_password_label' | translate }}</label>
              <input type="password" class="form-control" id="current_password" aria-describedby="password"
                formControlName="current_password" placeholder="{{'my_account.profile.changepassword.current_password_label' | translate }}" name=""
                [class.is-invalid]="(current_password.invalid && (current_password.dirty || current_password.touched)) || hasServerError"
                [class.is-valid]="current_password.valid && (current_password.dirty || current_password.touched)"
                value="">
              <!-- <a href="#forgotPass" data-toggle="modal">Forgot Password ?</a> </div> -->
              <div *ngIf="current_password.invalid && (current_password.dirty || current_password.touched)"
                class="invalid-feedback">
                <div *ngIf="current_password.hasError('required')">
                  {{ 'error_message.required_field' | translate }}
                </div>
                <div *ngIf="current_password.hasError('minlength') && !current_password.hasError('required')">
                  {{ 'error_message.password_min_length' | translate }}
                </div>
              </div>
              <div *ngIf="hasServerError" class="invalid-feedback">
                Forgot your current password?
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="seperator">
        <hr>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group custom-selectHolder normalSelect">
                  <label for="fullname" class="labelmb7">{{'my_account.profile.changepassword.new_password_label' | translate }}</label>
                  <input type="password" class="form-control" id="new_password" aria-describedby="study" placeholder="{{'my_account.profile.changepassword.new_password_label' | translate }}"
                    formControlName="password" value=""
                    [class.is-invalid]="password.invalid && (password.dirty || password.touched)"
                    [class.is-valid]="password.valid && (password.dirty || password.touched)">
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                    <div *ngIf="password.hasError('required')">
                      {{ 'error_message.required_field' | translate }}
                    </div>
                    <div *ngIf="password.hasError('minlength') && !password.hasError('required')">
                      {{ 'error_message.password_min_length' | translate }}
                    </div>
                    <div *ngIf="password.hasError('NoPassswordMatch')">
                      {{ 'error_message.password_mismatch' | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="gender"
                    class="w-100 labelmb7">{{'my_account.profile.changepassword.confirm_password' | translate }}</label>
                  <input type="password" formControlName="confirm_password" class="form-control" id="confirm_password"
                    aria-describedby="study" placeholder="{{'my_account.profile.changepassword.confirm_password' | translate }}" value=""
                    [class.is-invalid]="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)"
                    [class.is-valid]="confirm_password.valid && (confirm_password.dirty || confirm_password.touched)">
                  <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)"
                    class="invalid-feedback">
                    <div *ngIf="confirm_password.hasError('required')">
                      {{ 'error_message.required_field' | translate }}
                    </div>
                    <div *ngIf="confirm_password.hasError('minlength') && !confirm_password.hasError('required')">
                      {{ 'error_message.password_min_length' | translate }}
                    </div>
                    <div *ngIf="confirm_password.hasError('NoPassswordMatch')">
                      {{ 'error_message.password_mismatch' | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h6 class="labelmb7"><strong >{{'my_account.profile.changepassword.password_instructions_label' | translate }}</strong></h6>
            <ul class="list-unstyled" style="line-height: 2">
              <li><i class="fa fa-check" aria-hidden="true"></i><span>{{'my_account.profile.changepassword.pass_charecter_limit' | translate }}</span></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><span> {{'my_account.profile.changepassword.pass_guide' | translate }}</span></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><span> {{'my_account.profile.changepassword.pass_guide_common' | translate }}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12 text-center"> <a (click)="onPassowrdChange()" href="javascript:void(0);"
          class="btn btn-primary companybtn">{{'my_account.save_changes_button' | translate }}
          </a> </div>
    </div>
  </form>
</div>
