<div class="tab-content w-100" id="nav-tabContent">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-4 col-sm-7 col-xs-12 mx-auto mt-4">
        <h5 class="page-header">Your Profile
          <div class="popover-block-container d-inline-block">
            <button tabindex="0" type="button" class="popover-icon" data-popover-content="#unique-id" data-toggle="popover" data-placement="right"> <i class="fa fa-info-circle" aria-hidden="true"></i> </button>
            <div id="unique-id" style="display:none;">
              <div class="popover-body">
                <button type="button" class="popover-close close"> <i class="fa fa-times"></i> </button>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero ipsum, imperdiet </div>
            </div>
          </div>
        </h5>
        <hr class="mt-0"/>
        <div class="card mb-5">
          <div class="progress-pie-chart" data-percent="60">
            <div class="ppc-progress">
              <div class="ppc-progress-fill"></div>
            </div>
            <div class="ppc-percents">
              <div class="pcc-percents-wrapper"> <span>%</span>
                <p class="mb-0 text-uppercase">Completed</p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Sanoop V T</h5>
            <p class="card-text text-center mb-0">vtsanoop@gmail.com</p>
            <p class="text-center"> <a href="javascript:void(0);">IT</a> at <a href="javascript:void(0);">Organization</a></p>
            <hr />
            <p class="mb-0 text-center">Plan Type: BASIC</p>
            <p class="text-muted font-size-1 text-center">Joined 3 days ago</p>
            <div class="row">
              <div class="col text-center"> <a href="#" class="btn btn-primary btn-sm mr-auto ml-auto text-uppercase">Upgrade </a> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-md-8">
        <h3 class="page-title">Recent surveys </h3>
        <div class="row">
          <div class="col-xl-4 col-md-12 col-sm-12 col-xs-12 mt-2">
            <div class="survey-details-block">
              <div class="col">
                <div class="surveyTitle">Untitled Survey</div>
                <div class=" small text-secondary">Created :10-05-2018</div>
                <a href="attend-survey.html" class="small"> View </a> </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-12 col-sm-12 col-xs-12  mt-2">
            <div class="survey-details-block">
              <div class="col">
                <div class="surveyTitle">Untitled Survey</div>
                <div class=" small text-secondary">Created :10-05-2018</div>
                <a href="attend-survey.html" class="small"> View </a> </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-12 col-sm-12 col-xs-12  mt-2">
            <div class="survey-details-block">
              <div class="col">
                <div class="surveyTitle">Untitled Survey</div>
                <div class=" small text-secondary">Created :10-05-2018</div>
                <a href="attend-survey.html" class="small"> View </a> </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
            <h3 class="page-title">Available Surveys </h3>
            <div class="row">
              <div class="col-xl-4 col-md-12 col-sm-12 col-xs-12  mt-2">
                <div class="survey-details-block">
                  <div class="col">
                    <div class="surveyTitle">Untitled Survey</div>
                    <div class=" small text-secondary">Created :10-05-2018</div>
                    <a href="attend-survey.html" class="small"> View </a> </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12 col-sm-12 col-xs-12  mt-2">
                <div class="survey-details-block">
                  <div class="col">
                    <div class="surveyTitle">Untitled Survey</div>
                    <div class=" small text-secondary">Created :10-05-2018</div>
                    <a href="attend-survey.html" class="small"> View </a> </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12 col-sm-12 col-xs-12  mt-2">
                <div class="survey-details-block">
                  <div class="col">
                    <div class="surveyTitle">Untitled Survey</div>
                    <div class=" small text-secondary">Created :10-05-2018</div>
                    <a href="attend-survey.html" class="small"> View </a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>