<div class="tab-content w-100" id="nav-tabContent">
    <ngb-tabset justify="center" class="w-100">
        <ngb-tab>
            <ng-template ngbTabTitle>Individual Plans</ng-template>
            <ng-template ngbTabContent>
                <app-individual-plans></app-individual-plans>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Team Plans</ng-template>
            <ng-template ngbTabContent>
                <app-team-plans></app-team-plans>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>